<!-- <p>aboutus works!</p>
<h1>HELLO</h1>

<input type="text" 
(input)="function1($event)">

<p>{{local}}</p> -->
<!-- {{productName | lowercase }}
{{productName | uppercase }}
{{productPrice | currency: 'CAD':  'symbol-narrow':'4.2-2'}}

{{ name | uppercase }}<br/>
{{ name | lowercase }}<br/>
{{ name | titlecase }}<br/>
{{ name | slice: 3}}<br/>
{{ name | slice : 3:5}}<br/>
{{ person | json }} <br/>
{{ person }} <br/>
{{ val | number: '1.2-3'}}<br/>
{{ val | number: '3.4-5'}}<br/>
{{ val | number: '3.1-2'}}<br/>
{{ val | percent }}<br/>
{{ val | currency}}<br/>
{{ val | currency: 'GBP'}} <br/>
{{ val | currency: 'INR'}}<br/>
{{ hdate }}<br/>
{{ hdate | date: 'shortDate' }}<br/>
{{ hdate | date: 'shortTime' }}<br/>
{{ hdate | date: 'mediumDate' }}<br/>
{{ hdate | date: 'mediumTime' }}<br/>
{{ hdate | date: 'longTime' }}<br/>
{{ hdate | date: 'longDate' }}<br/>

{{name | arrangeorder : 'Mr.' : 'the Great' }}<br/>


{{characters | sort:'ascending'}}<br/>
{{characters | sort:'descending'}}<br/>

Enter the search text: <input [(ngModel)]='searchText' placeholder="search Text">

<ul>
    <li *ngFor=' let c of characters | filter: searchText'>
        {{c}}
    </li>
</ul> -->